/* Element styles */
html {
    font-size: 40px;
    font-family: 'VT323', monospace;
}

header {
    height: 4rem;
    background-color: red;
    border-bottom: 1rem solid black;
}

/* Class styles */
.pokePics {
    padding:10px;
    border: 0.2rem solid black;
}

.card, .pokePics {
    border-radius: 50% !important;
}

.pkmn {
    display: none;
    width: 150%;
}

/* ID styles */
#logo {
    width: 600px;
    margin: 0px auto;
}

#battle {
    margin-top: 1rem;
    border-radius: 50%;
}

#pokemonSelect {
    padding: 0rem auto;
    display: none;
}

#fightBox {
    margin-top: 2rem;
    padding: 0rem auto;
    display: none;
    background: black url("../images/field.png") no-repeat scroll 50% 50%;
    height: 382px;
}

#backHp {
    background-color: white;
    padding: 0.2rem;
    border: 2px dotted black;
    border-radius: 5px;
}

#frontHp {
    background-color: white;
    padding: 0.2rem;
    border: 2px dotted black;
    border-radius: 5px;
}
#infoBox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url("../images/tiny_grid.png");
    background-repeat: repeat;
    padding: 1rem;
    border: 0.5rem double black;
    height: 4rem;
}

#atkButtons {
    display: none;
}
