/* Element styles */
html {
    font-size: 40px;
    font-family: 'VT323', monospace;
}
/* h1 {
    font-size: 120px;
}
h2 {
    font-size: 100px;
}
h3 {
    font-size: 80px;
}
h4 {
    font-size: 60px;
} */
header {
    height: 4rem;
    background-color: red;
    border-bottom: 1rem solid black;
}

/* Class styles */
.pokePics {
    padding:10px;
    border: 0.2rem solid black;
}

.card, .pokePics {
    border-radius: 50% !important;
}

/* ID styles */
#logo {
    width: 600px;
    margin: 0px auto;
}

#battle {
    margin-top: 1rem;
    border-radius: 50%;
}

#pokemonSelect {
    padding: 0rem auto;
    display: none;
}

#fightBox {
    padding: 0rem auto;
    display: none;
    background: black url("../images/field.png") no-repeat scroll 50% 50%;
    height: 382px;
}

#infoBox {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-image: url("../images/tiny_grid.png");
    background-repeat: repeat;
    padding: 1rem;
    border: 0.5rem double black;
    height: 4rem;
}